<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Aroundgps</servlet-name>
		<servlet-class>com.aroundroid.aroundgps.AroundgpsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aroundgps</servlet-name>
		<url-pattern>/aroundgps</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InviteFriend</servlet-name>
		<servlet-class>com.aroundroid.aroundgps.InviteFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InviteFriend</servlet-name>
		<url-pattern>/inviteFriend</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CronUserManager</servlet-name>
		<servlet-class>com.aroundroid.aroundgps.CronUserManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CronUserManager</servlet-name>
		<url-pattern>/cron/userManager</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>


	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>

		<!-- FreemarkerServlet settings: -->
		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>NoCache</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html; charset=UTF-8</param-value> <!-- Forces UTF-8 output encoding! -->
		</init-param>

		<!-- FreeMarker settings: -->
		<init-param>
			<param-name>template_update_delay</param-name>
			<param-value>5</param-value> <!-- 0 is for development only! Use higher value otherwise. -->
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>ISO-8859-1</param-value> <!-- The encoding of the template files. -->
		</init-param>
		<init-param>
			<param-name>number_format</param-name>
			<param-value>0.##########</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>*.ftl</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
		<security-constraint>
		<web-resource-collection>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
